body {
  height: 100vh;
  margin: 0;
  background-color: bisque;
}

.container {
  margin: 0;
  width: 60%;
}



img {
  width: 20%;
}

.levitation {
  position: absolute;
  top: 15em;
  left: 1em;
  transform: rotate(15deg);
  /*creation de l'ombre du png sans background */
  filter: drop-shadow(22px -15px 5px rgba(0, 0, 0, 0.5));
  /** faire bouger l'objet et son ombre en lien avec keyframe  en aller retour sur 8 secondes*/
  animation: bouge 8s infinite alternate-reverse;
}

/* keyframe pour l'animation nommée bouge */
@keyframes bouge {
  /* point et angle de départ (angle = angle dans .levitation) */
  from {
    transform: translateY(50px) rotate(15deg);
  }
  /* point et angle d'arrivée de l'animation */
  to {
    transform: translateY(100px) rotate(30deg);
  }
}
